@model OrganaizerMainInfo

@{
    ViewData["Title"] = "Index";
}

@if (Model.ShowConfirming == true)
{
    <div class="background-field"></div>

    <div class="middleWindow round-border">
        <h1 class="text-center">Are you sure!</h1>
        <div style="width: 100%;  text-align: center;">
            <a asp-action="Delete" asp-route-TournamentId="@Model.Tournament.TournamentId" asp-route-Password="@Model.Tournament.Password"
               class="btn btn-success glyphicon glyphicon-ok-circle" style="background-color: steelblue"> </a>
            
            <a asp-action="Index" asp-controller="Organizer"
               class="btn btn-success glyphicon glyphicon-remove-circle" style="background-color: steelblue"> </a>
        </div>
    </div>
}

<div class="container">

    @if (@Model.Tournament != null)
    {

        <div style="text-align: right; padding: 2em; background-color: white;">
            <a asp-action="LogOut" asp-controller="Organizer">Log Out</a>
        </div>

        <div class="infoBlock" style="width: 100%;">
            <header>
                <h2 style="display: inline;">Your cup: @Model.Tournament.Name</h2>

                <div class="buttonBlock">
                    <a asp-action="Edit" asp-controller="Organizer"
                       style="background-color: steelblue; position: inherit;" class="btn btn-success glyphicon glyphicon-wrench"></a>
                    <a asp-action="Confirm" asp-controller="Organizer"
                       style="background-color: steelblue;" class="btn btn-success glyphicon glyphicon-trash"></a>
                </div>
            </header>

            <ul style="list-style: none; font-size: 2em;">
                <li>Mail: @Model?.Tournament.Mail</li>
                <li>Max count of teams: @Model?.Tournament.MaxCountTeams</li>
                <li>Start date: @Model?.Tournament.StartDate</li>
                <li>End date: @Model?.Tournament.EndDate</li>
            </ul>
        </div>

        <div class="infoBlock" style="width: 40%; display: inline-block;">

            <header>
                Current registered team
            </header>

            <table class="table table-striped" style="margin-bottom: 0px; width: 95%; margin-left: 2.5%;">
                <thead style="font: bold 1.2em arial, verdana">
                    <tr>
                        <td>№</td>
                        <td>Name</td>
                        <td>Mail</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                @{int i = 1;}
                @foreach (Team item in Model?.Tournament.TeamTournaments.Select(sc => sc.Team).ToList())
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            <a asp-action="Index" asp-controller="Organizer" asp-route-id="@item.TeamId">@item.Name</a>
                        </td>
                        <td>
                            @item.Mail
                        </td>
                        <td>
                            <a asp-action="removeTeam" asp-controller="Organizer" asp-route-teamId="@item.TeamId" asp-route-password="@item.Password" 
                               class="btn btn-success glyphicon glyphicon-remove" style="background-color: steelblue"></a>
                        </td>
                    </tr>
                    i++;
                }
            </table>
        </div>

        <div class="infoBlock" style="width: 50%; float: right; margin-right: -1.5%;">

            <header>
                Current registered team
            </header>
            @if (Model.SelectedTeam != null)
            {
                <table class="table table-striped" style="margin-bottom: 0px; width: 95%; margin-left: 2.5%;">
                    <thead style="font: bold 1.2em arial, verdana">
                        <tr>
                            <td>Position</td>
                            <td>Name</td>
                            <td>Age</td>
                        </tr>
                    </thead>
                    @foreach (Player item in Model?.SelectedTeam.Players)
                    {
                        <tr>
                            <td>
                                @item.Position
                            </td>
                            <td>
                                @item.Name @item.Surname
                            </td>
                            <td>
                                @item.Age
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h2 class="text-center">Select Team</h2>
            }
        </div>
    }
    else
    {
        <div class="infoBlock" style="width: 30%; margin-left: 35%;">
            <header>At first you must: </header>

            <div style="text-align:center">
                <br />
                <a class="btn btn-success" asp-action="Login" asp-controller="Organizer">Log In</a>
                <br /><span>Or</span><br />
                <a class="btn btn-success" asp-action="Create" asp-controller="Organizer">Create New</a>
                <br />
            </div>
        </div>

    }


</div>