@model OrganaizerMainInfo

@{
    ViewData["Title"] = "Index";
}

@if (Model.ShowConfirming == true)
{
    <div class="background-field"></div>

    <div class="middleWindow round-border">
        <h1 class="text-center">Are you sure!</h1>
        <div style="width: 100%;  text-align: center;">
            <a asp-action="Delete" asp-route-TournamentId="@Model.Tournament.TournamentId" asp-route-Password="@Model.Tournament.Password"
               class="btn btn-success glyphicon glyphicon-ok-circle" style="background-color: steelblue"> </a>
            
            <a asp-action="Index" asp-controller="Organizer"
               class="btn btn-success glyphicon glyphicon-remove-circle" style="background-color: steelblue"> </a>
        </div>
    </div>
}

    <div>

    @if (@Model.Tournament != null)
    {

        <div style="text-align: right; padding: 2em; background-color: white;">
            <a class="btn btn-default" asp-action="LogOut" asp-controller="Organizer">Log Out</a>
        </div>

        @if (TempData["message"] != null)
        {
            <div style="margin-left: 30px;" class="alert alert-success">@TempData["message"]</div>
        }

        <div class="infoBlock" style="width: 97%;">
            <header>
                <h2 style="display: inline;">Your cup: @Model.Tournament.Name</h2>

                <div class="buttonBlock">
                    <a asp-action="Edit" asp-controller="Organizer"
                       style="background-color: steelblue; position: inherit;" class="btn btn-success glyphicon glyphicon-wrench"></a>
                    <a asp-action="Confirm" asp-controller="Organizer"
                       style="background-color: steelblue;" class="btn btn-success glyphicon glyphicon-trash"></a>
                </div>
            </header>

            <table class="detailTabel">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td><strong>Mail</strong></td>
                    <td>@Model?.Tournament.Mail</td>
                </tr>
                <tr>
                    <td><strong>Max count of teams</strong></td>
                    <td>@Model?.Tournament.MaxCountTeams</td>
                </tr>
                <tr>
                    <td><strong>Start date</strong></td>
                    <td>@Model?.Tournament.StartDate</td>
                </tr>
                <tr>
                    <td><strong>End date</strong></td>
                    <td>@Model?.Tournament.EndDate</td>
                </tr>
            </table>
        </div>

        <div class="infoBlock" style="width: 45%; display: inline-block;">

            <header>
                Current registered team
            </header>

            <table class="table table-striped" style="margin-bottom: 0px; width: 95%; margin-left: 2.5%;">
                <thead style="font: bold 1.2em arial, verdana">
                    <tr>
                        <td>№</td>
                        <td>Name</td>
                        <td>Mail</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                @{int i = 1;}
                @foreach (Team item in Model?.Tournament.TeamTournaments.Select(sc => sc.Team).ToList())
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="Organizer" asp-route-id="@item.TeamId">@item.Name</a>
                    </td>
                    <td>
                        @item.Mail
                    </td>
                    <td>
                        <a asp-action="RemoveTeam" asp-controller="Organizer" asp-route-TeamId="@item.TeamId" asp-route-Password="@Model.Tournament.Password"
                           class="btn btn-default glyphicon glyphicon-remove"></a>
                    </td>
                </tr>
            i++;
        }
            </table>
        </div>

        <div class="infoBlock" style="width: 45%; float: right;">

            <header>
                Players (select team)
            </header>
            @if (Model.SelectedTeam != null)
        {
            <table class="table table-striped" style="margin-bottom: 0px; width: 95%; margin-left: 2.5%;">
                <thead style="font: bold 1.2em arial, verdana">
                    <tr>
                        <td>Position</td>
                        <td>Name</td>
                        <td>Age</td>
                    </tr>
                </thead>
                @foreach (Player item in Model?.SelectedTeam.Players)
            {
                <tr>
                    <td>
                        @item.Position
                    </td>
                    <td>
                        @item.Name @item.Surname
                    </td>
                    <td>
                        @item.Age
                    </td>
                </tr>
        }
            </table>
    }
    else
    {
        <h2 class="text-center">Select Team</h2>
}
        </div>
}
else
{
    <div class="infoBlock" style="margin: 3em auto;">
        <header>Welcome organizer: </header>

        <div style="text-align:center">
            <br />
            <label>Already Register: </label>
            <a class="btn btn-default" asp-action="Login" asp-controller="Organizer">Log In</a>
            <br /><br />
            <label>Create new cup:</label>
            <a class="btn btn-default" asp-action="Create" asp-controller="Organizer">Register</a>
            <br />
        </div>
    </div>

}


    </div>