@model IEnumerable<Reward>

@{
    ViewData["Title"] = "Rewards";
}

@if (TempData["message"] != null)
{
    <div style="margin-left: 10px;margin-top: 30px; width:45%;" class="alert alert-success">@TempData["message"]</div>
}

<div class="infoBlock" style="width: 45%; display: inline-block;">

    <header>
        Rewards of @Model.FirstOrDefault().Team.Name

        <div style="float:right; margin-right:30px;">
            <a asp-action="AddReward" asp-controller="Team"
               class="btn btn-success glyphicon" style="background-color: steelblue">Add Reward</a>
        </div>
    </header>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (Reward item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Date</td>
                <td>
                    <a asp-action="EditReward" asp-controller="Team" asp-route-RewardId="@item.RewardId"
                       style="position: inherit;" class="btn btn-default glyphicon glyphicon-wrench"></a>
                </td>
                <td>
                    <a asp-action="RemoveReward" asp-controller="Team" asp-route-RewardId="@item.RewardId"
                       class="btn btn-default glyphicon glyphicon-remove"></a>
                </td>
            </tr>
        }
    </table>

</div>