@model Tournament

@{
    ViewData["Title"] = "Cup";
}

<div class="container">
    <h2>@Model.Name</h2>

    <div>
        <h4>Tournament</h4>
        <hr />
        <dl class="dl-horizontal" style="width: 30%; margin: 0; padding: 0;">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaxCountTeams)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaxCountTeams)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeamTournaments)
            </dt>
            <dd>
                <ul>
                    @foreach (TeamTournament t in Model.TeamTournaments)
                    {
                        <li>@t.Team.Name</li>
                    }
                </ul>
            </dd>
        </dl>

    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
