@model GeneralInfo

@{
    ViewData["Title"] = "Home Page";
}


<div class="wrapper">

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'cups')">Tournaments</button>
        <button class="tablinks" onclick="openCity(event, 'teams')" id="defaultOpen">Teams</button>
        <button class="tablinks" onclick="openCity(event, 'players')">Players</button>
    </div>

    <div id="cups" class="tabcontent">
        <table>
            <tr>
                <th>Cup</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Count of Teams</th>
            </tr>
            @foreach (Tournament cup in Model.Tournaments)
            {
                <tr>
                    <td><a asp-controller="Home" asp-action="Cup" asp-route-id="@cup.TournamentId">@cup.Name</a></td>
                    <td>@cup.StartDate</td>
                    <td>@cup.EndDate</td>
                    <td>@cup.MaxCountTeams</td>
                </tr>
            }
        </table>
    </div>



    <div id="teams" class="tabcontent">
        <div class="input-sm" style="float:left;">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <p>
                    Title: @Html.TextBox("SearchString")
                    <input type="submit" value="Filter" />
                </p>
            }
        </div>

        <table>
            <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Creation</th>
                <th>Middle Age<br>
                    <span id="midAge" style="padding: .5em;"><span>(Middle age of all player: </span> @Model.CalculateMiddleAge() )</span>
                </th>
            </tr>
            @foreach (Team team in Model.Teams)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="Team" asp-route-id="@team.TeamId">@team.Name</a></td>
                <td>@team.Mail</td>
                <td>@team.DataCreation.ToString("yyyy-MM-dd")</td>
                <td>@Model.CalculateMiddleAgeTeam(team.Players)</td>
            </tr>
    }
        </table>
    </div>

    <div id="players" class="tabcontent">

        <table>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Position</th>
                <th>Age</th>
            </tr>
            @foreach (Player player in Model.Players)
            {
                <tr>
                    <td>@player.Name @player.Surname</td>
                    <td>@player.Team.Name</td>
                    <td>@player.Position</td>
                    <td>@player.Age_</td>
                </tr>
            }
        </table>
    </div>

</div>


<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>